<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Nuevo Registro</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>Nombre Ruta</p>
        {{ form.ruta | bulma }}
        <p>Codigo Postal</p>
        {{ form.cp | bulma }}
        <p>Usuario</p>
        {{ form.usuario_id | bulma }}
    <a class="btn" href="{% url '' %}">Registrar</a>
    </form>
    
</body>
</html>